body{
    /* background: red; */
    padding: 0;
    margin: 0;
    height: 200vh;
}
header{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(/images/slide01.jpg) ;
    height: 80vh;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    opacity: 1;
}
head{
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: transparent;
    border-bottom: solid 1px #666;
     
}
.classMenu{
    cursor: pointer;
    height: 1px;
    border: none;
    display: inline-block;
    width: 15px;
    padding: 0;
    background-color: #fff;
    transform: translateY(0px);
}
.classMenu::after{
    content: '';
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
    transform: translateY(-8px);
}
.classMenu::before{
    content: '';
    height: 1px;   
    margin: 0;
    padding: 0;
    display: block;
    width: 15px;
    width: 100%;
    background-color: #fff;
    transform: translateY(-4px);
}
.classMenu:hover::before{
    opacity: 0;
}
.classMenu:hover{
    transform: rotate(40deg);
}
.classMenu:hover::after{
    transform: rotateZ(90deg);
}
.slipt{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #b8b3b3;
    z-index: 1;
    cursor: pointer;
}
.headH1{
    font-family: 'poppins';
    padding: 20px;
    margin: 0;
    cursor: pointer;
    /* transition: all 0.4s ease-in-out 0.2s; */
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: #b8b3b3;
}
.headColor{
    color: #f5f5f5;
}
.headH1:hover > .headColor{
    color: #b8b3b3;
    font-size: 20px;
}
/* ----------------------------------------------------------- */
.bigText{
    font-size: 7rem;
    color: #f5f5f5;
    font-family: 'poppins', Poppins , sans-serif;
    text-align: center;
    font-weight: 300;
    margin: 30px auto auto;
    /* width: 50%; */
}
hr{
    width: 23%; 
}
h3{
    font-size: 0.9rem;
    font-family: 'poppins', Poppins , sans-serif;
    text-align: center;
    font-weight: 100;
    margin: 80px auto 30px;
    line-height: 1.2;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #c7c3c3;
}

.spanH3{
    color: #f5f5f5;
    font-weight: 400;
}
.fixedMenu{
    position: fixed;
    top: 0px;
    right: 0px;
    /* padding: 60px 0px; */
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.842));
    height: 100%;
    
}
.fixedMenu ul{
    padding: 60px 20px 0;
}
.fixedMenu li{
    list-style: none;
    color: #757373;
    padding: 15px 80px 15px 0;
    border-bottom: solid #272626 1px;
    letter-spacing: 1.2px;
    line-height: 2;
    transition: all 300ms ease-in-out ;
    cursor: pointer;
}
.fixedMenu li:hover{
    color: #f5f5f5;
}
input[type=checkbox]{
    display: none;

}